@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind;

@layer base {
  html,
  body {
    @apply text-center;
    @apply text-white;
    @apply bg-[#171717];
    @apply m-0;
    @apply p-0;
  }

  .clock-container{
    backdrop-filter: blur(5px);
    padding: 10px 0;
  }
  .clock{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    font-family: monospace;
    text-align: center;
    @apply text-sm

  }

  p {
    @apply text-[#bbb];
    @apply inline-block;
    @apply max-w-2xl;
    @apply text-sm;
  }

  a {
    @apply text-[#0087ff];
    @apply text-sm;
    @apply no-underline;
  }

  a:active {
    @apply underline;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
    @apply mb-1;
  }
}
